{% extends 'base.html' %}

{% block head %}
<title>Willy List - Your Go-To List Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div id="bodyDiv">
    <div class="form">
        <p>Please enter your email address to retrieve your WillyList. </p>
        <form action="/forgotPassword" method="POST">
            <input type="textarea" placeholder="youremail@example.com" Required="True" name="content">
            <input type="submit" value="Retrieve"><br>
        </form>
    </div>
    {% if EmailObject is defined %}
    <p>Your WillyList url is <br> <a href="{{ EmailObject.vanity }}">{{ EmailObject.vanity }}</a></p>
    {% endif %}
</div>

{% endblock %}