{% extends 'base.html' %}

{% block head %}
<title>Willy List - Your Go-To List Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div id="bodyDiv">
  <div class="form">
    <a href="/generateWithoutEmail" class="button">Quick List (just for today)</a>
    <form action="/generateWithEmail" method="POST">
      <input type="submit" value="Willy List (Forever)" class="formButton"><br>
      <input type="textarea" placeholder="youremail@example.com" Required="True" name="emailtest">
    </form>
    <a href="/forgotPassword">Forgot WillyList?</a>
  </div>
</div>

{% endblock %}